html
  head
    include ./../includes/head.jade
  body
    div(class="section group")
      each val, idx in header.sections
        div(class="col span_" + (idx + 1) + "_of_" + header.sections.length)
          h2!= val.content
    div(class="section group main-content")
      div(class="col span_6_of_10 middler")
         include ./../static/test/ittile.html
      div(class="col span_4_of_10 middler")
        h1!= 'Site Content Goes Here'
  include ./../includes/foot.jade  