html
  head
    title=within 30
    meta(charset="utf-8")
    link(rel="stylesheet" href="/styles/MetroJs.css")
    link(rel="stylesheet" href="/styles/style.css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext,greek-ext,greek' rel='stylesheet' type='text/css')
  body
    header
      div.container
        h1.logo
          a(href="javascript:void(0)")
            img(src="content/images/within30-logo.png" alt="logo")
    div.content
      div.container
        div(class="clear clear-sec1")
          div(class="col-lg-7")
            div(class="select-row")