<!DOCTYPE html>
<html>
	<head>
		<title>within 30</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext,greek-ext,greek' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<div class="container">
				<h1>Within 30</h1>
			</div>
		</header>
		<div class="content">
			<div class="container">
				<div class="select-row">
					<div class="col-lg-6">
						<div class="selectbx">
							<div class="text-label" id="countryText">Country</div>
							<ul class="select-drop">
								<li>INDIA</li>
								<li>USA</li>
								<li>ICE LAND</li>
								<li>SCOTLAND</li>
								<li>CHINA</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="selectbx">
							<div class="text-label" id="city-text">Cities</div>
							<ul class="select-drop">
								<li>HYDERABAD</li>
								<li>CHENAI</li>
								<li>NEWARK</li>
								<li>KOLKATA</li>
								<li>MUMBAI</li>
							</ul>
						</div>
					</div>
					<div class="page-caption">
						<h3><span class="country-tlt">Country</span> : <span class="city-tlt">City</span></h3>
					</div>
				</div>
				<div class="grid-row">
					<div class="row">
						<aside class="gridLeft col-lg-8">
							<div class="row">
								<aside class="col-lg-12 salon">
									<figure><img src="images/salon.png" alt="salon"></figure>
									<span class="caption">Salon</span>
								</aside>
								<aside class="col-lg-12 opthamology">
									<figure><img src="images/opthamology.png" alt="salon"></figure>
									<span class="caption">Ophthalmology</span>
								</aside>
								<aside class="col-lg-12 law">
									<figure><img src="images/law.png" alt="salon"></figure>				
								</aside>
							</div>
							<div class="row">
								<aside class="col-lg-12 builders">
									<figure><img src="images/builder.png" alt="salon"></figure>
									<span class="caption"><strong>Builders</strong></span>
								</aside>
								<aside class="col-lg-12 doctors">
									<figure><img src="images/doctor.png" alt="salon"></figure>
									<span class="caption">Doctors</span>
								</aside>
							</div>
							<div class="row">
								<aside class="col-lg-12 garriage">
									<figure><img src="images/garriage.png" alt="salon"></figure>
									<span class="caption">Garrage</span>
								</aside>
								<aside class="col-lg-12 training">
									<figure><img src="images/training.png" alt="salon"></figure>
									<div class="description">
										<h2>Online Training</h2>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
									</div>
								</aside>
							</div>
						</aside>
						<aside class="gridRight col-lg-3">
							<div class="col-lg-12">
								<img src="images/travel-1.png" alt="img">
							</div>
							<div class="col-lg-12">
								<img src="images/travel-2.png" alt="img">
							</div>
							<div class="col-lg-12">
								<img src="images/doctor1.png" alt="img">
							</div>
							<div class="col-lg-12 border-none">
								<img src="images/doctor2.png" alt="img">
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<span class="copyright">Copyright@2015</span>
				<ul class="social-media">
					<li><a href="#" class="socialIcon1"></a></li>
					<li><a href="#" class="socialIcon2"></a></li>
					<li><a href="#" class="socialIcon3"></a></li>
					<li><a href="#" class="socialIcon4"></a></li>
					<li><a href="#" class="socialIcon5"></a></li>
				</ul>
			</div>
		</footer>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/custom.js"></script>
	</body>
</html>