<section class="tile-group four-wide first">
    <h2>Current Appointment flow - LIVE</h2>
    <div class="live-tile flip ha bounce noselect" data-delay="6000" data-mode="flip" data-bounce="true" data-direction="horizontal">
        <div class="flip-front ha" style="transform: rotateY(0deg); transition: all 0s ease 0s;">
            <a href="#" onclick="javascript:void(0)">
                <img src="/images/sample/cal1.jpg" class="full" alt="cal1" title="HTML 5">
            </a>
        </div>
        <div class="flip-back ha" style="transform: rotateY(540deg); transition: all 500ms ease 0s;">
            <a href="#" onclick="javascript:void(0);">
                <img src="images/sample/cal3.jpg" title="CAL 3" class="full" alt="CAL 3">
            </a>
        </div>
    </div>                
    <div class="live-tile two-wide exclude red">
        <div><p>User testimonial, I had a great experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping experience all my problexes were solved.. still I am hoping .</p></div>
    </div>
    <div class="live-tile me slide ha bounce noselect red" data-mode="slide" data-stops="50%,100%,0px" data-link="/about" data-bounce="true" data-stack="true" data-delay="4250" style="cursor: pointer;">
        <div class="slide-front ha" style="transition-property: transform; transition-duration: 500ms; transition-timing-function: ease; transform: translate(0%, 50%) translateZ(0px);"><img class="full" src="images/sample/cal2.jpg" alt="Immanuel Raj (Thanks Drewwell)"></div>
        <div class="slide-back ha" style="transform: translate(0%, -50%) translateZ(0px); transition-property: transform; transition-duration: 500ms; transition-timing-function: ease;"><span class="p-left p-bottom metroExtraLarge">Users</span></div>
    </div>
    <div class="live-tile two-wide accent emerald slide ha bounce noselect" data-pause-onhover="true" data-bounce="true" data-link="http://www.google.com" data-new-window="true" onclick="javascript:void(0)" style="cursor: pointer;">
        <div class="slide-front ha" style="transition-property: transform; transition-duration: 500ms; transition-timing-function: ease; transform: translate(0%, 0px) translateZ(0px);">
            <a href="http://www.google.com" onclick="javascript:void(0);"><img class="full" src="/images/sample/cal4.jpg" alt="Cal 4"></a></div>
        <div class="slide-back ha">
            <p>Some more details about the appointment and some process about it.</p>
            <span class="tile-title">Appointment</span>
        </div>
    </div>
    <div class="live-tile skills exclude">
        <ul class="flip-list skill-list nineTiles" data-mode="flip-list" data-back-isbg="true" data-always-trigger="true" data-pause-onnhover="true" data-swap="image" data-initdelay="2000" data-delay="5000">
            <li class="tile-1 ha">
                <div class="flip-front ha" style="margin: 0px; transform: rotateX(180deg); transition: all 500ms ease 0s;">
                    <img src="/images/sample/cal5.jpg" alt="Cal 5">
                </div>
                <div class="accent flip-back ha" style="margin: 0px; transform: rotateX(360deg); transition: all 500ms ease 0s;">
                    <img src="/images/sample/cal6.jpg" alt="Cal 6" style="background-image: url(/images/sample/cal7.png);">
                </div>
            </li>
            <li data-direction="horizontal" class="tile-2 ha">
                <div class="flip-front ha" style="margin: 0px; transform: rotateY(180deg); transition: all 500ms ease 0s;">
                    <img src="/images/sample/cal7.png" alt="Cal 7">
                </div>
                <div class="flip-back ha" style="margin: 0px; transform: rotateY(360deg); transition: all 500ms ease 0s;">
                    <img src="/images/sample/cal8.jpg" alt="Sharepoint" style="background-image: url(/images/sample/cal9.jpg);">
                </div>
            </li>
            <li class="tile-3 ha">
                <div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;">
                    <img src="/images/sample/cal10.jpg" alt="Cal 10"></div>
                    <div class="flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;">
                    <img src="/images/sample/cal11.jpg" alt="Sharepoint" style="background-image: url(/images/sample/cal11.jpg);">
                    </div>
                    </li>                        
            <li class="tile-4 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;"><img src="/images/sample/cal12.jpg" alt="MVC"></div><div class="flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;"><img src="/images/sample/cal13.jpg" alt="Sharepoint" style="background-image: url(/images/sample/cal14.jpg);"></div></li>
            <li class="tile-5 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;"><img src="/images/sample/cal27.jpg" alt="Analytics IQ"></div><div class="flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;"><img src="/images/sample/cal15.jpg" alt="Sharepoint" style="background-image: url(/images/sample/cal16.jpg);"></div></li>
            <li class="tile-6 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;"><img src="/images/sample/cal17.jpg" alt="XML"></div><div class="flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;"><img src="/images/sample/cal18.jpg" alt="Sharepoint" style="background-image: url(http://www.drewgreenwell.com/images/skills/sharepoint.jpg);"></div></li>
            <li class="tile-7 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;"><img src="/images/sample/cal19.jpg" alt="jQuery"></div><div class="flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;"><img src="/images/sample/cal20.jpg" alt="Sharepoint" style="background-image: url(http://www.drewgreenwell.com/images/skills/sharepoint.jpg);"></div></li>
            <li class="tile-8 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;"><img src="/images/sample/cal21.jpg" alt="JavaScript"></div><div class="flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;"><img src="/images/sample/cal22.png" alt="Sharepoint" style="background-image: url(http://www.drewgreenwell.com/images/skills/sharepoint.jpg);"></div></li>
            <li class="tile-9 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;"><img src="/images/sample/cal23.jpg" alt="CSS 3"></div><div class="flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;"><img src="/images/sample/cal24.jpg" alt="Sharepoint" style="background-image: url(http://www.drewgreenwell.com/images/skills/sharepoint.jpg);"></div></li>
        </ul>
    </div>
    <div class="live-tile projects slide ha bounce noselect green" data-mode="slide" data-swap-back="image" data-stack="true" data-bounce="true" data-link="/projects" data-stops="100%" data-delay="8000" style="cursor: pointer;">
        <div class="slide-front ha" style="transition-property: transform; transition-duration: 500ms; transition-timing-function: ease; transform: translate(0%, 0px) translateZ(0px);">
            <p>
                <span class="metroExtraLarge title">Projects</span>
                <img src="/images/sample/cal25.png" alt="projects" class="full head">
            </p>
        </div>
        <div class="slide-back ha" style="transform: translate(0%, -150px) translateZ(0px); transition-property: transform; transition-duration: 500ms; transition-timing-function: ease;">
            <img src="/images/sample/cal26.jpg" class="full" alt="MetroJS">
        </div>
    </div>
    <div class="tile-strip four-wide half-tall">
        <ul class="flip-list color-strip" data-mode="flip-list" data-always-trigger="true" data-initdelay="250" data-delay="3500">
            <li class="half-tile tile-1 ha" data-direction="horizontal"><div class="flip-front ha" style="margin: 0px; transform: rotateY(180deg); transition: all 500ms ease 0s;"></div><div class="accent orange flip-back ha" style="margin: 0px; transform: rotateY(360deg); transition: all 500ms ease 0s;"></div></li>
            <li class="half-tile tile-2 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(180deg); transition: all 500ms ease 0s;"></div><div class="accent green flip-back ha" style="margin: 0px; transform: rotateX(360deg); transition: all 500ms ease 0s;"></div></li>
            <li class="half-tile tile-3 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(180deg); transition: all 500ms ease 0s;"></div><div class="accent teal flip-back ha" style="margin: 0px; transform: rotateX(360deg); transition: all 500ms ease 0s;"></div></li>                        
            <li class="half-tile tile-4 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(180deg); transition: all 500ms ease 0s;"></div><div class="accent red flip-back ha" style="margin: 0px; transform: rotateX(360deg); transition: all 500ms ease 0s;"></div></li>
            <li class="half-tile tile-5 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(180deg); transition: all 500ms ease 0s;"></div><div class="accent yellow flip-back ha" style="margin: 0px; transform: rotateX(360deg); transition: all 500ms ease 0s;"></div></li>
            <li class="half-tile tile-6 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(180deg); transition: all 500ms ease 0s;"></div><div class="accent steel flip-back ha" style="margin: 0px; transform: rotateX(360deg); transition: all 500ms ease 0s;"></div></li>
            <li class="half-tile tile-7 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;"></div><div class="accent pink flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;"></div></li>
            <li class="half-tile tile-8 ha"><div class="flip-front ha" style="margin: 0px; transform: rotateX(0deg); transition: all 0s ease 0s;"></div><div class="accent purple flip-back ha" style="margin: 0px; transform: rotateX(540deg); transition: all 500ms ease 0s;"></div></li>                        
        </ul>
    </div>
</section>