<div>
        <p><h3>Website Display Configuration</h3></p>
        <table>
            <tr>
                <td>Company Name:</td>
                <td><input type="text" id="wsClientName"></td>
            </tr>
            <tr>
                <td>Subdomain:</td>
                <td><input type="text" id="sdomain"></td>
            </tr>
            <tr>
                <td>Logo:</td>
                <td><input type="file" id="logo"></td>
            </tr>
            <tr>
                <td>Select Icon:</td>
                <td><input type="file" id="selIcon"></td>
            </tr>
        </table>
</div>
<div>
    <p><h3>Company Details</h3></p>
    <table>
        <tr>
            <td>Full Name:</td>
            <td><input type="text" id="ClientName"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" id="phoneName"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" id="email"></td>
        </tr>
        <tr>
            <td>Business Detail:</td>
            <td><textarea id="bdet"></textarea></td>
        </tr>
    </table>
    
    </div>
    <div>
    <p><h3>Appointment Configuration</h3></p>
    <table>
        <tr>
            <td>Concurrent Count:</td>
            <td><input type="text" id="concCount"></td>
        </tr>
        <tr>
            <td>Working Hour Start:</td>
            <td><input type="text" id="wrkHrsStart"></td>
        </tr>
        <tr>
            <td>Working Hour End:</td>
            <td><input type="text" id="wrkHrsEnd"></td>
        </tr>
        <tr>
            <td>Perday Capacity:</td>
            <td><input type="text" id="perdayCap"></td>
        </tr>
        <tr>
            <td>Preconfigured:</td>
            <td>
                <input type="checkbox" id="preConfigured">
                <div id="preCondWin">
                    <div>
                        <div style="float:left"><input value="Legal Consulting" /></div>
                        <div style="float:left"><input value="1 hr" /></div>
                        <div style="float:left"><a href="javascript:void(0)">Add</a></div>
                    </div>
                    <div>
                        <div style="float:left"><input value="Document Detailed Verification" /></div>
                        <div style="float:left"><input value="4 hrs" /></div>
                        <div style="float:left"><a href="javascript:void(0)">Add</a></div>
                    </div>
                    <div>
                        <div style="float:left"><input /></div>
                        <div style="float:left"><input /></div>
                        <div style="float:left"><a href="javascript:void(0)">Add</a></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Overlap:</td>
            <td><input type="checkbox" id="wrkHrsOverlap"></td>
        </tr>
        <tr>
            <td>Allow Custom:</td>
            <td><input type="checkbox" id="allowCustom"></td>
        </tr>
        <tr>
            <td>Auto Acknowledge:</td>
            <td><input type="checkbox" id="autoAcknowledge"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Selection Option:</td>
            <td>
                <input type="checkbox" id="selOptions">
                <div id="selOptions">
                <div>
                    <div style="float:left"><span>Legal Consulting</span></div>
                        <div style="float:left"><a href="javascript:void(0)">Add</a></div>
                        <div style="float:left;visibility:hidden;"><input /></div>
                    </div>
                    <div>
                        <div style="float:left"><input value="Mark Lawrence" style="width:200px" /></div>
                        <div style="float:left;display:none;"><input /></div>
                        <div style="float:left"><a href="javascript:void(0)">Del</a></div>
                    </div>
                    <div>
                        <div style="float:left"><input value="Lr. Sathasivam Kartheesan" style="width:200px" /></div>
                        <div style="float:left;display:none;"><input /></div>
                        <div style="float:left"><a href="javascript:void(0)">Del</a></div>
                    </div>
                    <div style="float:left"><span>Document Detailed Verification</span></div>
                        <div style="float:left"><a href="javascript:void(0)">Add</a></div>
                        <div style="float:left;visibility:hidden;"><input /></div>
                    </div>
                    <div>
                        <div style="float:left"><input value="Mark Lawrence" style="width:200px" /></div>
                        <div style="float:left;display:none;"><input /></div>
                        <div style="float:left"><a href="javascript:void(0)">Del</a></div>
                    </div>
                    <div>
                        <div style="float:left"><input value="Lr. Sathasivam Kartheesan" style="width:200px" /></div>
                        <div style="float:left;display:none;"><input /></div>
                        <div style="float:left"><a href="javascript:void(0)">Del</a></div>
                    </div>
                </div>
            </td>
        </tr>  
        </table>  
      <input id="sveWs" type="button" value="submit">  
    </div>
    <div id="alert-pop" style="display: none;color:white;">
            <div id='resp-cont'>

            </div>
    </div>
</div>