head
  title #{title}
  link(rel='stylesheet', href='/static/css/app_style.css')
  link(rel='stylesheet', href='/static/css/datedropper.css')
  link(rel='stylesheet', href='/static/css/style.css')
  link(rel='stylesheet', href='/static/css/font-awesome.min.css')
  link(rel='stylesheet', href='/static/css/jquery-clockpicker.min.css')
  script(src='/static/js/jquery-1.11.3.min.js')
  script(src='/static/js/jquery-ui.min.js')
  script(src='/static/js/jq.schedule.js')
  script(src='/static/js/datedropper.min.js')
  script(src='/static/js/custombox.min.js')
  script(src='/static/js/jquery-clockpicker.min.js')
  script(src='/static/js/custom.js')