
script(src='/scripts/metrojs.js')
//script(src="/scripts/upl/jquery.min.js")
script(src="/scripts/upl/jquery.ui.widget.js")
script(src="/scripts/upl/load-image.all.min.js")
script(src="/scripts/upl/canvas-to-blob.min.js")
script(src="/scripts/upl/jquery.iframe-transport.js")
script(src="/scripts/upl/jquery.fileupload.js")
script(src="/scripts/upl/jquery.fileupload-process.js")
script(src="/scripts/upl/jquery.fileupload-image.js")
script(src="/scripts/upl/jquery.fileupload-audio.js")
script(src="/scripts/upl/jquery.fileupload-video.js")
script(src="/scripts/upl/jquery.fileupload-validate.js")
script(src="/scripts/upl/jquery.fileupload-ui.js")
script(type="text/javascript" src="/scripts/upl/file_upload.js")
script(src='/scripts/foot.js')
script(src='/scripts/app.js')