head
  title #{title}
  link(rel='stylesheet', href='/styles/app.css')
  link(rel='stylesheet', href='/styles/sections.css')
  link(rel='stylesheet', href='/styles/metrojs.css')
  script(src='/scripts/jquery-1.11.3.min.js')
  script(src='/scripts/app.js')