<div class="tiles blue tile-group four-wide">
    <!-- Sliding Tile that shows 100% of the back tile every 3 seconds -->
    <div class="live-tile" data-speed="750" data-delay="3000">
        <span class="tile-title">slide tile</span>
        <div><img class="full" src="/images/sample/1tw.gif" alt="1" /></div>
        <div><img class="full" src="/images/sample/2t.gif" alt="2" /></div>
    </div>
    <!-- Red Flip Tile that flips every 4 seconds -->
    <div class="red live-tile" data-mode="flip" data-delay="4000">            
        <div>
            <img class="full" src="/images/sample/3tw.gif" alt="3" />
            <span class="tile-title">flip tile front</span>
        </div>
        <div>
            <img class="full" src="/images/sample/4tw.gif" alt="4" />
            <span class="tile-title">flip tile back</span>
        </div>
    </div>
    <!-- Carousel Tile that slides 4 tile faces every 2.5 seconds -->
    <div class="live-tile" data-mode="carousel" data-direction="horizontal" data-delay="2500">
        <div>
            <img class="full" src="/images/sample/1tw.gif" alt="1" />
            <span class="tile-title">carousel slide 1</span>
        </div>
        <div>
            <img class="full" src="/images/sample/2t.gif" alt="2" />
            <span class="tile-title accent">carousel slide 2</span>
        </div>
        <div>
            <img class="full" src="/images/sample/3tw.gif" alt="3" />
            <span class="tile-title">carousel slide 3</span>
        </div>
        <div>
            <img class="full" src="/images/sample/4t.gif" alt="4" />
            <span class="tile-title accent">carousel slide 4</span>
        </div>
    </div>
    <!-- Mango Flip List that triggers every 3 seconds -->
    <div class="list-tile mango">
        <span class="tile-title">flip list</span>
        <ul class="flip-list fourTiles" data-mode="flip-list" data-delay="2000">
            <li>
                <div><img class="full" src="/images/sample/1t.gif" alt="1" /></div>
                <div><img class="full" src="/images/sample/1tw.gif" alt="1" /></div>
            </li>
            <li>
                <div><img class="full" src="/images/sample/2t.gif" alt="2" /></div>
                <div><img class="full" src="/images/sample/2tw.gif" alt="2" /></div>
            </li>
            <li>
                <div><img class="full" src="/images/sample/3t.gif" alt="3" /></div>
                <div><img class="full" src="/images/sample/3tw.gif" alt="3" /></div>
            </li>
            <li data-direction="horizontal">
                <div><img class="full" src="/images/sample/4t.gif" alt="4" /></div>
                <div><img class="full" src="/images/sample/4tw.gif" alt="4" /></div>
            </li>
        </ul>
    </div>
    <!-- Green Static Tile -->
    <div class="live-tile accent green exclude">
        <span class="tile-title">static tile</span>
        <p>Static tiles can take advantage of theming too!</p>
    </div>


    <div class="mango">
        <!-- Start Tile 1 -->
        <div class="list-tile">
            <span class="tile-title">flip list</span>
            <ul id="flip1" class="flip-list fourTiles" data-initdelay="4000" data-mode="flip-list" data-delay="4000">
                <li>
                    <div class="myClass"><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                </li>
                <li> 
                    <div class="myClass"><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                </li>
                <li>
                    <div class="myClass"><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                </li>
                <li>
                    <div class="myClass"><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                </li>
            </ul>
        </div>
        <!-- Start Tile 2 -->
        <div class="red list-tile">
            <span class="tile-title">flip list</span>
            <ul id="flip2" class="flip-list nineTiles" data-initdelay="500" data-mode="flip-list" data-delay="3000">
                <li>
                    <div class="myClass"><img class="nineTiles1" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
                <li>
                    <div class="myClass"><img class="nineTiles2" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
                <li>
                    <div class="myClass"><img class="nineTiles3" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
                <li>
                    <div class="myClass"><img class="nineTiles4" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
                <li>
                    <div class="myClass"><img class="nineTiles5" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
                <li>
                    <div class="myClass"><img class="nineTiles6" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
                <li>
                    <div class="myClass"><img class="nineTiles7" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
                <li>
                    <div class="myClass"><img class="nineTiles8" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
                <li>
                    <div class="myClass"><img class="nineTiles9" src="http://www.drewgreenwell.com/images/1pixel.gif" alt=" " /></div>
                    <div><img src="http://www.drewgreenwell.com/images/1pixel.gif" alt="1" /></div>
                </li>
            </ul>
        </div>
    </div>
     <div id="myFlipList" class="cobalt tile-group two-wide" data-initdelay="500" data-mode="flip-list" data-delay="3000">
            <div class="live-tile">
                <div>Some city appointment</div>
                <div>Someother city appointment</div>
            </div>
    </div>
</div>