*{
	padding: 0;
	margin: 0;
}
body {
	font-size: 14px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}
img {
	max-width: 100%;
	height: auto;
	padding: 0;
}
.container {
	max-width: 1170px;
	margin: auto;
}
header {
	overflow: hidden;
	padding: 17px 0 14px;
	background: #fbfbfb;
}
.logo {
	float: left;
}
.social_media {
	float: right;
	padding: 15px 0 0;
}
.social_media li {
	list-style: none;
	float: left;
	padding: 0 0 0 10px;
}
.social_media li a {
	display: block;
	width: 32px;
	height: 32px;
	color: #fff;
	text-align: center;
	line-height: 32px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
}
.icon_rss {
	background: #f4b459;
}
.icon_gplus{
	background: #dd4b39;
}
.icon_twitter{
	background: #26a6d1;
}
.icon_facebook {
	background: #3b5998;
}
.icon_dribbble {
	background: #ea4c89;
}
.social_media li .fa {
	font-size: 20px;
	line-height: 32px;
}
.content {
	clear: both;
	padding: 15px 0 0;
}
.heading {
	color: #0e8998;
	font-size: 36px;
	line-height: 46px;
	font-weight: 600;
	text-align: center;
}
.subheading {
	color: #525252;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
	font-weight: 400;
}
.carousel {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 35px 0 0;
}
.slider {
	padding:  0 10px;
	text-align: center;
}
.carousel ul li {
	display: inline-block;
	width: 154px;
	list-style: none;
}
.carousel ul li figure {
	margin: auto;
	width: 100px;
	height: 100px;
	text-align: center;
	align-items: center;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	border: 1px dashed #128b9a;
}
.carousel ul li figure img {
	margin: auto;
}
.spl_title {
	text-align: center;
	display: block;
	font-size: 16px;
	line-height: 34px;
}
.orth {
	color: #f37225;
}
.nuero {
	color: #0a5780;
}
.gynae {
	color: #ff78c4;
}
.dent {
	color: #f49583;
}
.cardio {
	color: #dd4b39;
}
.audiol {
	color: #e7a931;
}
.derma {
	color: #0a5780;
}
.direction {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: 99;
	width: 30px;
	height: 30px;
	border-radius:50%;
	color: #fff;
	text-align: center;
	line-height: 28px;
	font-size: 15px;
	cursor: pointer;
	background: rgba(0,0,0,0.7);
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.schedule {
	margin: 30px 0 0;
	padding: 12px 0 10px 0;
	background: #fbfbfb;
}
.weekDetails {
	text-align: center;
	padding: 20px 0 0;
}
.weekDetails ul li {
	display: inline-block;
	list-style: none;
	padding:  0 20px;
}
.weekDetails ul li strong {
	display: block;
	color: #525252;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 8px;
}
.num {
	width: 54px;
	height: 54px;
	text-align: center;
	line-height: 54px;
	display: block;
	margin: auto;
	color: #fff;
	font-size: 22px;
	background: url(../images/weekdays_sprite.png) no-repeat center center;
}
.mon {
	background-position: -4px 0;
}
.tue {
	background-position: -68px 0;
}
.wed {
	background-position: -133px 0;
}
.thur {
	background-position: -194px 0;
}
.fri {
	background-position: -256px 0;
}
.sat {
	background-position: -320px 0;
}
.sun {
	background-position: -383px 0;
}
.timeline {
	padding: 20px 0 0;
}
footer {
	margin: 100px 0 0;
	line-height: 54px;
	color: #58a8a8;
	text-align: center;
	background: #ebebeb;
}
.pop_up {
	position: absolute;
	top: 60px;
	left: 50%;
	margin: 0 0 0 -212px;
	padding: 11px;
	width: 425px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	border: 10px solid rgba(0,0,0,0.3);
	background: #fff;
	z-index: 999;
}
.close_btn {
	position: absolute;
	right: -27px;
	top: -31px;
	cursor: pointer;
}
.pop_logo {
	text-align: center;
	padding: 3px 0 7px;
	border-bottom: 1px dashed #909090;
}
.pop_up h3 {
	padding: 15px 0 20px;
	color: #0e8998;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	font-weight: 400;
}
.pop_up h4 {
	color: #333535;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	padding: 15px 0 10px;
	overflow: hidden;
}
.row {
	margin: 0 -10px;
}
.col-lg-6 {
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
}
.col-lg-6 {
	width: 50%;
}
.form-block label {
	display: block;
	color: #777b7b;
	font-size: 18px;
	line-height: 22px;
	padding: 0 0 5px;
}
.form-row {
	border-radius:4px;
	border:1px solid #f2efef;
	background: #fbfbfb;
}
.form-row input {
	height: 30px;
	line-height: 30px;
	outline: none;
	border:none;
	color: #a2a2a2;
	font-size: 16px;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	background: none;
}
.doctorsList {
	max-height: 150px;
	overflow-y: scroll;
	box-sizing: border-box;
	margin: 10px 0 0;
}
.doctorsList li {
	float: left;
	width: 33.333%;
	list-style: none;
}
.doctorsList li figure {
	width: 105px;
	height: 105px;
	margin: auto;
}
.doctorsList li span {
	display: block;
	color: #0e8998;
	font-size: 18px;
	text-align: center;
	padding: 8px 0 0;
}
.shadow {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
}